# HORUS IMAGE SERVER v2.0
#
# SERVER CONFIGURATION FILE
#
# HOSTSERVER
HOSTSERVER_OID=11
HOSTSERVER_NAME=HORUSSRV11
HOSTSERVER_IPADDR=192.168.55.11
HOSTSERVER_IN_PORT=8183
HOSTSERVER_OUT_PORT=8184
HOSTSERVER_KEY=ABACABA_S11
# LISTENER
IPADDR=192.168.55.11
REQUEST_SERVICE_PORT=8181
RESPONSE_SERVICE_PORT=8182
# REMOTEUNITS
NUMOFREMOTEUNITS=5
# REMOTEUNIT
REMOTEUNIT0_OID=211
REMOTEUNIT0_NAME=U211
REMOTEUNIT0_IPADDR=192.168.55.11
REMOTEUNIT0_IN_PORT=8184
REMOTEUNIT0_OUT_PORT=8183
REMOTEUNIT0_TBLSPCNAME=U211
REMOTEUNIT0_ENABLED=1
REMOTEUNIT0_KEY=ABACABA_U211
REMOTEUNIT0_WORKNODE=1
REMOTEUNIT0_NAMENODE=1
REMOTEUNIT0_DATANODE=1
REMOTEUNIT0_RUNLOCAL=1
# REMOTEUNIT
REMOTEUNIT1_OID=212
REMOTEUNIT1_NAME=U212
REMOTEUNIT1_IPADDR=192.168.55.212
REMOTEUNIT1_IN_PORT=8184
REMOTEUNIT1_OUT_PORT=8183
REMOTEUNIT1_TBLSPCNAME=U212
REMOTEUNIT1_ENABLED=0
REMOTEUNIT1_KEY=ABACABA_U212
REMOTEUNIT1_WORKNODE=1
REMOTEUNIT1_NAMENODE=1
REMOTEUNIT1_DATANODE=1
REMOTEUNIT1_RUNLOCAL=1
# REMOTEUNIT
REMOTEUNIT2_OID=213
REMOTEUNIT2_NAME=U213
REMOTEUNIT2_IPADDR=192.168.55.213
REMOTEUNIT2_IN_PORT=8184
REMOTEUNIT2_OUT_PORT=8183
REMOTEUNIT2_TBLSPCNAME=U213
REMOTEUNIT2_ENABLED=0
REMOTEUNIT2_KEY=ABACABA_U213
REMOTEUNIT2_WORKNODE=1
REMOTEUNIT2_NAMENODE=1
REMOTEUNIT2_DATANODE=1
REMOTEUNIT2_RUNLOCAL=1
# REMOTEUNIT
REMOTEUNIT3_OID=214
REMOTEUNIT3_NAME=U214
REMOTEUNIT3_IPADDR=192.168.55.214
REMOTEUNIT3_IN_PORT=8184
REMOTEUNIT3_OUT_PORT=8183
REMOTEUNIT3_TBLSPCNAME=U214
REMOTEUNIT3_ENABLED=0
REMOTEUNIT3_KEY=ABACABA_U214
REMOTEUNIT3_WORKNODE=1
REMOTEUNIT3_NAMENODE=1
REMOTEUNIT3_DATANODE=1
REMOTEUNIT3_RUNLOCAL=1
# REMOTEUNIT
REMOTEUNIT4_OID=215
REMOTEUNIT4_NAME=U215
REMOTEUNIT4_IPADDR=192.168.55.215
REMOTEUNIT4_IN_PORT=8184
REMOTEUNIT4_OUT_PORT=8183
REMOTEUNIT4_TBLSPCNAME=U215
REMOTEUNIT4_ENABLED=0
REMOTEUNIT4_KEY=ABACABA_U215
REMOTEUNIT4_WORKNODE=1
REMOTEUNIT4_NAMENODE=1
REMOTEUNIT4_DATANODE=1
REMOTEUNIT4_RUNLOCAL=1
# EOF
